@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&family=SUSE:wght@100..800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color:  #e8e8e8;
}

html::-webkit-scrollbar {
  width: .5rem;
}

html::-webkit-scrollbar-track {
  background: #949B9D;
}

html::-webkit-scrollbar-thumb {
  background:  #012116;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 60px 20px;
  text-align: center;
}

/* Navigation Bar */
nav {
  background-color: #e8e8e8;
  padding: 10px 0;
  position: fixed;
  top: -80px; /* Initially hide the navbar */
  width: 100%;
  z-index: 1000;
  transition: top 0.3s; /* Smooth transition when navbar is shown or hidden */
}

nav.show {
  top: 0; /* Show the navbar */
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(#012116, #949B9D);
  -webkit-background-clip: text; /* For Chrome/Safari */
  background-clip: text; /* For other browsers */
  color: transparent; 
}

nav .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav .nav-links li a {
  color: #012116;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav .nav-links li a:hover {
  color: #00bcd4;
}

/* home section */
.home {
  background-color:#e8e8e8;
  color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home h1 {
  font-size: 5vw;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  letter-spacing: 25px;
  background: linear-gradient(#012116, #949B9D);
  -webkit-background-clip: text; /* For Chrome/Safari */
  background-clip: text; /* For other browsers */
  color: transparent; 
  animation: openingSequence 2s ease-out; /* Animation name, duration, and easing */
  margin-bottom: 50px; /* Adjusted spacing */
}

/* Keyframes for the opening sequence */
@keyframes openingSequence {
  0% {
    opacity: 0;
    transform: translateY(-50px); /* Start slightly above */
  }
  50% {
    opacity: 0.5;
    transform: translateY(0); /* Slide into place */
  }
  100% {
    opacity: 1;
  }
}


/* Loader Container */
#loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

#loader-container.hidden {
  display: none;
}

.loader {
  --path: #012116;
  --dot: #949B9D;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}

.loader:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  -webkit-transform: translate(-18px, -18px);
  -ms-transform: translate(-18px, -18px);
  transform: translate(-18px, -18px);
  -webkit-animation: dotRect var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg rect,
.loader svg polygon,
.loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  -webkit-animation: pathTriangle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  -webkit-animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  -webkit-animation: pathCircle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

.loader.triangle {
  width: 48px;
}

.loader.triangle:before {
  left: 21px;
  -webkit-transform: translate(-10px, -18px);
  -ms-transform: translate(-10px, -18px);
  transform: translate(-10px, -18px);
  -webkit-animation: dotTriangle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

@-webkit-keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }

  66% {
    stroke-dashoffset: 147;
  }

  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }

  66% {
    stroke-dashoffset: 147;
  }

  100% {
    stroke-dashoffset: 221;
  }
}

@-webkit-keyframes dotTriangle {
  33% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  66% {
    -webkit-transform: translate(10px, -18px);
    transform: translate(10px, -18px);
  }

  100% {
    -webkit-transform: translate(-10px, -18px);
    transform: translate(-10px, -18px);
  }
}

@keyframes dotTriangle {
  33% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  66% {
    -webkit-transform: translate(10px, -18px);
    transform: translate(10px, -18px);
  }

  100% {
    -webkit-transform: translate(-10px, -18px);
    transform: translate(-10px, -18px);
  }
}

@-webkit-keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@-webkit-keyframes dotRect {
  25% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(18px, -18px);
    transform: translate(18px, -18px);
  }

  75% {
    -webkit-transform: translate(0, -36px);
    transform: translate(0, -36px);
  }

  100% {
    -webkit-transform: translate(-18px, -18px);
    transform: translate(-18px, -18px);
  }
}

@keyframes dotRect {
  25% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(18px, -18px);
    transform: translate(18px, -18px);
  }

  75% {
    -webkit-transform: translate(0, -36px);
    transform: translate(0, -36px);
  }

  100% {
    -webkit-transform: translate(-18px, -18px);
    transform: translate(-18px, -18px);
  }
}

@-webkit-keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }

  50% {
    stroke-dashoffset: 175;
  }

  75% {
    stroke-dashoffset: 225;
  }

  100% {
    stroke-dashoffset: 275;
  }
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }

  50% {
    stroke-dashoffset: 175;
  }

  75% {
    stroke-dashoffset: 225;
  }

  100% {
    stroke-dashoffset: 275;
  }
}

.loader {
  display: inline-block;
  margin: 0 16px;
}

#main-content.hidden {
  display: none;
}

#main-content {
  display: block;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.about-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.about-text {
  max-width: 600px;
  text-align: left;
}

.about-text h2 {
  margin-bottom: 10px;
  font-size: 3rem;
  background: linear-gradient(#012116, #949B9D);
  -webkit-background-clip: text; /* For Chrome/Safari */
  background-clip: text; /* For other browsers */
  color: transparent;
}

.about-text p {
  line-height: 1.8;
  margin-bottom: 20px; /* Space before social-icons */
}

.social-icons {
  display: flex;
  gap: 25px; /* Adjust the spacing as needed */
  margin-top: 10px; /* Optional: Add space between text and icons */
}

.social-icons a {
  font-size: 2rem; /* Adjust icon size */
  color: #333; /* Icon color */
  text-decoration: none;
}

/* Hover effect */
.social-icons a:hover {
  background: linear-gradient(#012116, #949B9D); /* Gradient colors */
  -webkit-background-clip: text; /* Required for Chrome and Safari */
  background-clip: text; /* For other browsers */
  color: transparent; /* Makes the background visible */
  transform: scale(1.5); /* Optional zoom effect */
  transition: all 0.3s ease-in-out;
}

.social-icons a {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #333;
  text-decoration: none;
}

.social-icons a:hover::after {
  content: attr(title); /* Use the title attribute value */
  position: absolute;
  top: 100%; /* Position the tooltip above the icon */
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(#012116, #949B9D); /* Gradient colors */
  -webkit-background-clip: border-box; /* Required for the gradient effect */
  background-clip: border-box; /* For other browsers */
  color: white; /* Make the text color visible */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 10px; /* Adjust font size */
  white-space: nowrap; /* Prevent text wrapping */
  opacity: 0; /* Initially hide the tooltip */
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.social-icons a:hover::after {
  opacity: 1; /* Show tooltip on hover */
  visibility: visible; /* Ensure it's visible */
}

/* Services Section */
.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  position: relative;
}

.container h3 {
  margin-bottom: 30px;
  font-size: 3rem;
  font-weight: bold; /* Optional: Makes the text bolder */
  background: linear-gradient(45deg, #012116, #949B9D); /* Diagonal gradient */
  -webkit-background-clip: text; /* For Chrome/Safari */
  background-clip: text; /* For other browsers */
  color: transparent;
  text-align: center; /* Centers the text horizontally */
}

/* Services Section */
.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.service-item {
  background: #e8e8e8;
  padding: 25px;
  border-radius: 10px;
  flex: 1 1 calc(33.33% - 20px); /* Ensures 3 items per row, accounting for gap */
  max-width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  perspective: 1000px; /* Added perspective for 3D effect */
}

.service-card {
  position: relative;
  width: 100%;
  height: 200px; /* Set a fixed height for the card */
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.service-item:hover .service-card {
  transform: rotateY(180deg); /* Flip the card on hover */
}

.service-card-front, .service-card-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden; /* Hide the back when flipped */
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-card-front h4 {
  font-size: 2rem;
  font-weight: bold; /* Optional: Makes the text bolder */
  background: linear-gradient(45deg, #012116, #949B9D); /* Diagonal gradient */
  -webkit-background-clip: text; /* For Chrome/Safari */
  background-clip: text;
  color: transparent; /* This is necessary for the background clip effect to work */
}


.service-card-front {
  background: #e8e8e8;
  padding: 20px;
}

.service-card-back {
  background: #e8e8e8;
  padding: 20px;
  transform: rotateY(180deg); /* Initially rotate the back */
}

.service-card-front h3 {
  margin: 0;
  color: #333;
}

.service-card-back p {
  color: #555;
  text-align: center;
}


.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-item {
  background: #e8e8e8;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  flex: 1 1 calc(33.33% - 20px); /* Ensures 3 items per row, accounting for gap */
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.project-item img.project-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-item h4 {
  margin-bottom: 10px;
  background: linear-gradient(45deg, #012116, #949B9D); /* Diagonal gradient */
  -webkit-background-clip: text; /* For Chrome/Safari */
  background-clip: text; /* For other browsers */
  color: transparent;
}

.project-item p {
  color: #555;
  margin-bottom: 15px;
}

.project-item a {
  color: #333; /* Default color for the link */
  font-size:30px;/* Adjust the size of the icon */
  text-decoration: none; /* Remove the underline */
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
}

.project-item a:hover {
  transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

.project-item a i {
  display: inline-block; /* Ensure the icon is aligned properly */
  transition: transform 0.3s ease; /* Smooth transition for icon scale */
}

.project-item a:hover i {
  transform: scale(1.2);
  background: linear-gradient(#012116, #949B9D); /* Gradient colors */
  -webkit-background-clip: text; /* Required for Chrome and Safari */
  background-clip: text; /* For other browsers */
  color: transparent; 
}


/* Contact Section */
form {
  display: grid;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #012116;
  border-radius: 5px;
}

/* Add focus styles for input fields */
.form-group input:focus {
  border-color: #00bcd4; /* Change the border color to match button on focus */
  outline: none; /* Remove the default outline */
}

/* Change the placeholder text color */
.form-group input::placeholder {
  color: #888; /* Lighter gray placeholder */
}


button {
  padding: 10px 20px;
  background: linear-gradient(45deg, #012116, #949B9D); /* Gradient from #00bcd4 to #008ba3 at a 45-degree angle */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(85deg, #012116, #949B9D); /* Reverse the gradient on hover */
}

/* Footer */
footer {
  background: linear-gradient(145deg, #012116, #949B9D); /* Reverse the gradient on hover */
  color: #fff;
  padding: 10px 0;
  text-align: center;
}